# AWS Credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
S3_BUCKET=
#test

# FTP Server Configuration
FTP_PORT=21
FTP_USER=ftpuser
FTP_PASSWORD=ftppass

# Passive Mode Configuration
PASV_MIN_PORT=30000
PASV_MAX_PORT=30100
# For local: localhost, For deployment: your server's public IP or domain
PASV_URL=localhost

# Health Check
HEALTH_CHECK_PORT=3000

# Logging
LOG_LEVEL=info
